body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebd8d0;
    margin: 0;
    padding-top: 80px; /* Adjust based on the height of your header */
    display: flex;
    flex-direction: column; /* Aligns elements vertically */
    align-items: center;
    min-height: 100vh;
}
.active{
    font-weight:700;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF6E4;
    padding: 10px 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.mindful-moments {
    font-size: 24px;
    color: black;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.feeling-today-section {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.feeling-today {
    font-size: 32px;
    color: #333;
}

.container {
    width: auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
    margin-top: -25px;
}

.input-group {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    margin-top: 10px;
}

.input-group label {
	white-space: nowrap; /* Prevents the label from wrapping */
    margin-right: 10px; /* Space between label and input */
    flex-shrink: 0; /* Prevents the label from shrinking */
    width: 150px; /* Fixed width for labels */
}

#entry-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
	margin-left: 4px;
    flex: 1; /* Flex grow to use available space */
    max-width: 300px; /* Limiting the max width */
	min-width: 200px; /* Minimum width of input fields */
}

.input-group.horizontal {
    flex-wrap: wrap;
    justify-content: flex-start;
}

#entry-form button {
    background-color: pink;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

#entry-form button:hover {
    background-color: #ff69b4;
}

#entry-form button.active {
    background-color: #ff69b4;
}

#entry-form button#submit {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Makes the button a block element */
    margin: 20px auto; /* Centers the button horizontally with automatic margins */
    width: auto; /* Adjust width as needed, or set a specific width */
}

.custom-alert {
    display: none; /* Hidden by default */
    background-color: #ffdddd;
    color: red;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid red;
    border-radius: 5px;
}